.leaflet-container {
	background: #051010;
}

.leaflet-control.ps2hq-control {
	background: white;
	border-radius: 5px;
	padding: 5px;
}

.leaflet-control.ps2hq-control label,
.leaflet-control.ps2hq-control input {
	cursor: pointer;
}

/* need to add these for resetting styling if containing page's other CSS rules mess with it */
.leaflet-control.ps2hq-control input {
	width: 20px;
	display: inline-block;
	margin: 0 3px;
	height: 13px;
}
.leaflet-control.ps2hq-control label {
	display: inline;
}

.ps2hq-control.layer-control label {
	display: block;
}

.sector-name {
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

